*.pyc
*.result
*.vtu
*.pvd
**.ipynb_checkpoints/
heat_conduction_radiation-eps-T_2D/simdata/entities.sif
heat_conduction_radiation-eps-T_2D/simdata/mesh.*
heat_conduction_radiation-eps-T_2D/simdata/ViewFactors.dat
induction_heating_2D_3D/simdata*
induction_heating_2D_3D/**.pdf
induction_heating_2D_3D/**.svg
heat_conduction_radiation_3D/simdata*
