*.pyc
*.result
*.vtu
*.pvd
**.ipynb_checkpoints/
heat_conduction_radiation-eps-T_2D/simdata/entities.sif
heat_conduction_radiation-eps-T_2D/simdata/mesh.*
heat_conduction_radiation-eps-T_2D/simdata/ViewFactors.dat
